<form class="example-form" [formGroup]="employeeForm">
  <!-- <mat-dialog-actions align="end" *ngIf="this.data">
    <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial
      (click)="deleteEmployee()">Delete</button>
  </mat-dialog-actions> -->

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput name="name" id="name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <textarea matInput name="address" id="address" formControlName="address"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email Address</mat-label>
    <input matInput name="emailAddress" id="emailAddress" formControlName="emailAddress">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput name="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date of birth</mat-label>
    <input matInput [matDatepicker]="picker" name="DateOfBirth" id="DateOfBirth" formControlName="DateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <br />
  <input class="ng-hide" id="input-file-id" multiple type="file" name="file" id="file" formControlName="file"
    (change)="fileChange($event)" />

  <br />

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" *ngIf="!this.data" cdkFocusInitial type="submit"
      (click)="createEmployee()">Create</button>
    <button mat-button [mat-dialog-close]="true" *ngIf="this.data" cdkFocusInitial type="submit"
      (click)="updateEmployee()">Update</button>
  </mat-dialog-actions>

</form>