<form>
  <div class="form-group">
      <div class="col-md-4">
          
          <label for="firstName"> First Name </label>
          <input required minlength="3" maxlength="16" ngModel name="firstName" #firstName="ngModel" id="firstName"
              type="text" class="form-control">

          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">

              <div *ngIf="firstName.errors.required"> First Name is required</div>
              <div *ngIf="firstName.errors.minlength"> FirstName should be at least 3 characters</div>
              <div *ngIf="firstName.errors.maxlength"> FirstName should be maximun 16 characters</div>
          </div>
      </div>

      
    <button class="btn btn-primary" type="button" (click) = "createUser()">Submit</button>
      </div>
      </form>